<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Users panel</title>
</head>
<body>
<header>
  <h3>Users panel</h3>
</header>
<main>
  <table>
    <thead>
    <tr>
      <th>username</th>
      <th>email</th>
      <th>phone number</th>
      <th>age</th>
      <th>sex</th>
      <th>role</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
      <td th:utext="${user.username}"></td>
      <td th:utext="${user.email}"></td>
      <td th:utext="${user.phoneNumber}"></td>
      <td th:utext="${user.age}"></td>
      <td th:utext="${user.sex}"></td>
      <td th:each="role : ${user.roles}" th:text="${role.roleName}"></td>
      <td>
        <a th:href="@{users-panel/edit-user(id=${user.id})}">
          <button type="button">edit</button>
        </a>
      </td>
      <td>
        <form th:action="@{users-panel/delete-user(id=${user.id})}" th:method="POST">
          <button type="submit">delete</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</main>
<footer>
  <a th:href="@{users-panel/add-user}">add new user</a><br>
  <br>
  <form th:action="@{/logout}" method="post">
    <button type="submit">logout</button>
  </form>
</footer>
</body>
</html>